<div nz-row nzGutter="24">
    <div nz-col class="gutter-row text-middle" nzSpan="8">
        <form nz-form nzLayout="vertical" [formGroup]="form">
            <nz-form-item>
                <nz-form-label nzRequired nzFor="headline">Headline</nz-form-label>
                <nz-form-control nzErrorTip="The input is not valid E-mail!">
                    <input nz-input formControlName="headline" id="headline" />
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label nzRequired nzFor="descricao">Descrição</nz-form-label>
                <nz-form-control nzErrorTip="The input is not valid E-mail!">
                    <textarea rows="10" nz-input formControlName="descricao" id="descricao"></textarea>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label nzFor="captcha" nzRequired>Logo</nz-form-label>
                <nz-form-control nzErrorTip="Please input the captcha you got!">
                    <input id="input-file" type="file" style="display: none;" (change)="changeFile($event.target)">
                    <button nz-button nzType="default" (click)="uploadFile()"><i nz-icon
                            nzType="upload"></i>Selecionar</button>
                    <span class="file-name" *ngIf="form.value.logo">{{ form.value.descricaoLogo }}</span>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item nz-row>
                <nz-form-control>
                    <button nz-button nzType="primary" (click)="save()">Salvar</button>
                </nz-form-control>
            </nz-form-item>
        </form>
    </div>
    <div nz-col class="gutter-row text-middle" nzSpan="16">
        <nz-card nzTitle="Preview">
            <div class="preview-container">
                <div nz-row nzGutter="24">
                    <div nz-col class="gutter-row text-middle" nzSpan="12">
                        <h1>{{ form.value.headline || 'Conheça-nos'}}</h1>
                        <p>
                            {{ form.value.descricao || exampleText }}
                        </p>
                    </div>
                    <div nz-col class="gutter-row" nzSpan="12">
                        <img class="logo"
                            [src]="form.value.logo ? form.value.logo : 'http://www.obsei.com.br/images/logo_trasparente.png'"
                            width="318" height="192" alt="">
                    </div>
                </div>
            </div>
        </nz-card>
    </div>
</div>