<div nz-row nzGutter="16" style="margin-bottom: 1rem">
    <div nz-col class="gutter-row" nzSpan="18">
        <h3>Áreas de Pesquisa</h3>
    </div>
    <div nz-col class="gutter-row" nzSpan="6">
        <button nz-button nzType="primary" class="float-right" routerLink="/cadastro-area-pesquisa" (click)="addAreaPesquisa()"><i nz-icon
                type="plus-circle"></i>Adicionar</button>
    </div>
</div>

<nz-table #table [nzData]="areasPesquisa" [nzLoading]="isLoading">
    <thead>
        <tr>
            <th>Nome</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let data of table.data; let i = index">
            <td>{{data.nome}}</td>
            <td>
                <div class="float-right">
                    <div *ngIf="!editId">
                        <a routerLink="/cadastro-area-pesquisa/" (click)="editarAreaPesquisa(data)">Editar</a>
                        <nz-divider nzType="vertical"></nz-divider>
                        <a (click)="excluirAreaPesquisa(data.id)">Excluir</a>
                    </div>
                </div>
            </td>
        </tr>
    </tbody>
</nz-table>