.preview-container {
    background-color: #f8f9fa;
    padding         : 50px;
    display       : table-cell;
    vertical-align: middle;
    text-align    : center;
}

.logo {
    margin-top: 1.5rem;
}

.file-name {
    margin-left: 15px;
}

.text-middle {
    margin-top: 1rem;
}