<div nz-row nzGutter="16" style="margin-bottom: 1rem">
    <div nz-col class="gutter-row" nzSpan="18">
        <h3>Pesquisadores</h3>
    </div>
    <div nz-col class="gutter-row" nzSpan="6">
        <button nz-button nzType="primary" style="float: right" routerLink="/cadastro-pesquisador" ><i nz-icon type="plus-circle"></i>Adicionar</button>
    </div>
</div>

<nz-table [nzData]="pesquisadores">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Lattes</th>
            <th>Ação</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let data of pesquisadores">
            <td>{{data.nome}}</td>
            <td><a href="{{data.lattes}}" target="_blank">{{data.lattes}}</a></td>
            <td>
                <a routerLink="/cadastro-pesquisador">Editar</a>
                <nz-divider nzType="vertical"></nz-divider>
                <a>Excluir</a>
            </td>
        </tr>
    </tbody>
</nz-table>