<div nz-row nzGutter="16" style="margin-bottom: 1rem">
    <div nz-col class="gutter-row" nzSpan="18">
        <h3>Pesquisadores</h3>
    </div>
    <div nz-col class="gutter-row" nzSpan="6">
        <button nz-button nzType="primary" class="float-right" routerLink="/home/cadastro-pesquisador" (click)="addPesquisador()"><i nz-icon type="plus-circle"></i>Adicionar</button>
    </div>
</div>

<nz-table [nzData]="pesquisadores" [nzLoading]="isLoading" [nzNoResult]="empty">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Lattes</th>
            <th>Ação</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let data of pesquisadores">
            <td>{{data.nome}}</td>
            <td><a href="{{data.lattes}}" target="_blank">{{data.lattes}}</a></td>
            <td>
                <a routerLink="/home/cadastro-pesquisador/" (click)="editarPesquisador(data)">Editar</a>
                <nz-divider nzType="vertical"></nz-divider>
                <a (click)="excluirPesquisador(data.id)">Excluir</a>
            </td>
        </tr>
    </tbody>
</nz-table>
<ng-template #empty>
    <nz-empty nzNotFoundContent="Nenhum resultado"></nz-empty>
</ng-template>